section#content.m-t-lg.wrapper-md.animated.fadeInUp
	.nav-brand.logo-form
		.btn-group.pull-right
			lang-switcher(on-switch='switch')	
			input		
			
	.row.m-n
		.col-md-4.col-md-offset-4.m-t-lg 
			div(ui-view='', ng-cloak) 
			footer#footer
	