form
	input(type='file', multiple='multiple', ng-model='user.image')
	input(name='username', ng-model='user.username')
	input(type='submit', ng-click='addUser()')

div(file-dropzone='[image/png, image/jpeg, image/gif]', file='ctrlBoundImage', file-name='ctrlBoundFileName', data-max-file-size='3', style='width: 150px; height: 150px; border: 1px solid;')
	span Drop Background Images Here
	div
		img(ng-src='{{ctrlBoundImage}}')
		span {{ctrlBoundFileName}}
