doctype 5
html(ng-app='app')
  head
    title=title            
    link(rel='stylesheet', href='/styles/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/styles/styles.css')
  body
    div.container(ui-view)
    block scripts
      != js('/vendors/jquery-2.0.3.min')
      != js('/vendors/gmap3')
      != js('/vendors/angular-1.2.0rc1/angular')
      != js('/vendors/angular-extensions/angular-ui-router')      
      != js('/client')      
      != js('/common/services/utils-service')
      != js('/common/directives/gmap-directive')
