<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title></title>
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <div ui-view class="container"></div><script src="/vendors/jquery-2.0.3.min.js"></script><script src="/vendors/gmap3.js"></script><script src="/vendors/angular-1.2.0rc1/angular.js"></script><script src="/vendors/angular-extensions/angular-ui-router.js"></script><script src="/client.js"></script><script src="/common/services/utils-service.js"></script><script src="/common/directives/gmap-directive.js"></script>
  </body>
</html>