div.row
	a(href='/') home
div.row
	button.btn.btn-lg.btn-trans Large Button
	br
	br
	br
	button.btn-circle.btn-lg 		
		| Click Here!		
	br
	br
	br
	div.panel		
		h1 Heading
		p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
	br
	br
	br
	div.jumbotron
		h1 Heading
		p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.


