p
form.form-horizontal(role='form')
    .form-group
        label.col-lg-2.control-label(for='inputEmail') Email
        .col-lg-10
          input#inputEmail.form-control(type='email', placeholder='Email')
      .form-group
        label.col-lg-2.control-label(for='inputMessage') Message
        .col-lg-10
          textarea#inputMessage.form-control(placeholder='Tell us what you want...')      
      .form-group
        .col-lg-offset-2.col-lg-10
          button.btn-circle(type='submit') Send
