$textColor: orange;

h1 {
	color: $textColor;
}

li {
	font-size: 19px;
	&.active {
		font-weight: bold;
	}
}

html, body, .container {
	height: 100%;
}

body {
	background: url(../images/bg.jpg)
}

.btn-circle {
	background: transparent;			
	border: 1px solid #fff;
	border-radius: 70px;		
	color: white;
	height: 140px;
	width: 140px;	
	&:hover {
		background: rgba(255,255,255, 0.1);
	}
	&:active {				
		box-shadow: 0px 0px 2px 2px #ccc;
	}			
}

.panel {

}

.jumbotron {
	background:rgba(255,255,255, 0.2);

}

.btn-trans {
	color: rgba(0, 0, 0, 0.1);
}