doctype 5
html(ng-app='app')
  head
    title=title        
    != css('/styles/bootstrap/bootstrap')
    != css('/styles/styles.css')
  body
    div.container(ui-view)
    block scripts
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')                  
      != js('/vendors/angular-1.2.0rc1/angular')
      != js('/vendors/angular-extensions/angular-ui-router')      
      != js('/client')      
